$FontFamily: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

.navigationBody {

    ul{
        list-style: none;
        margin-bottom: 30px;

        li{
            display: flex;
            align-items: center;
            border-radius: 25px;
            padding-left: 40px;
            margin-bottom: 10px;
            height: 50px;
            font-size: 21px;
            font-family: $FontFamily;
            color: #666c72;
            cursor: pointer;

            &:hover{
                background-color: #f5f5f5;
                color: #CE2A2B;
            }

            

            svg{
                margin-right: 10px;
                color: "black";
            }

        }
    }
}